.titulo{

 color:white#6c2eb9;
  font-weight: normal;
  font-size: 40px;
  font-family: Arial;
  text-transform: uppercase;

  text-align: center;
  border-color:orangered ;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 98%;
text-decoration:dashed


}