ul {
    list-style-type:armenian;
    margin: 2rem;
    padding: 2rem;
    overflow: hidden;
    background-color:grey;
}

li {
    float: center;
}

li a {
    align-items: center;
    display: inline-flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration-color: aquamarine;
}

li a:hover {
    background-color:white;
}

a{

    color: aliceblue;
}
